* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
}
/*header com imagem*/
.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../img/energia_sustentavel_verde.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 1rem 0;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
header {
    background: #8dc7ad;
    color: #fff;
    padding: 20px 0;
}
nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo-h1 {
    font-size: 1.8 rem;
    font-weight: bold;
    letter-spacing: 2px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}
.hero { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}
.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.2
}
.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
    opacity: 0.9;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    align-items: right;
}

.btn {
    display: inline-block;
    background: #21c070;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}
.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.hero-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.cards-section {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.card-h3 {
    color: #4CAF50;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero img {
        margin-top: 20px;
    }
    .cards section {
        flex-direction: column;
        align-items: center;
    }
}